body {
    background-color: lightblue;
}

#location {
    background-color: lightblue;
}

#task1 {
    margin: 3%;
    }

html {
    background-color: lightblue;
}

.dropdown-toggle {
    border =
    background-color: #e7e7e7; color: black;
}

.navbar {
    background-color: #337ab7;
}
