body {
    background-color: lightblue;
}

#location {
    background-color: lightblue;
}

#navbardropdown {
    background-color: #e7e7e7;
}

html {
    background-color: lightblue;
}

.dropdown-button {
    padding: 1px 1px;
}
.dropdown-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown-menu {
    background-color: #337ab7; color: black;
}
.dropdown-toggle {
    background-color: #337ab7; color: black;
}

.navbar {
    background-color: #e7e7e7;
}
