{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}

<html>
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'kanban_app/css/main.css' %}">
        <meta charset="utf-8">
        <title>TRELLO CLONE</title>
    </head>
    <body>
    <div id="location">THIS IS WHERE YOUR STUFF GOES</div>
    <div id="tasktitle"></div>
    <div id="tasks"></div>
    <div id="newtasks"></div>

<button id="getButton">Get</button>

<button id="deleteButton">Delete</button>

<button id="try_post">Post</button>



    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'kanban_app/js/main.js' %}"></script>
</body>
{% endblock %}
</html>
